flows.json
[{"id":"1d0d91f.5b9c46e","type":"tab","label":"rpi - Read Sensors","disabled":false,"info":""},{"id":"5168a377.14493c","type":"tab","label":"rpi - Sensor Gauge","disabled":false,"info":""},{"id":"78a66ecf.e99dc","type":"tab","label":"rpi - Sensor  Write file","disabled":false,"info":""},{"id":"1b5d285b.ee1e88","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"52eb5662.cd56b8","type":"ui_group","z":"","name":"Tables","tab":"e8099143.978dd","order":2,"disp":true,"width":"6","collapse":false},{"id":"e8099143.978dd","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"85bed87f.32c548","type":"ui_tab","z":"","name":"Temp All Tables","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"3b8b1cad.3d3bb4","type":"ui_group","z":"","name":"Local Env","tab":"8fe978e.f58a788","order":1,"disp":true,"width":"6","collapse":false},{"id":"f58aa897.88dbf8","type":"ui_group","z":"","name":"Temp on all Tables","tab":"ea660c2e.3a35","order":2,"disp":true,"width":"6","collapse":false},{"id":"8fe978e.f58a788","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"ea660c2e.3a35","type":"ui_tab","z":"","name":"Table Temps","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"6fda971b.1520f8","type":"ui_group","z":"","name":"Temp on all Tables","tab":"60c024ea.46d5ec","order":1,"disp":true,"width":"6","collapse":false},{"id":"a4a8720.e27349","type":"ui_group","z":"","name":"Table 5-8","tab":"60c024ea.46d5ec","order":3,"disp":true,"width":"6","collapse":false},{"id":"1e5962f8.74270d","type":"ui_group","z":"","name":"Table 9-12","tab":"60c024ea.46d5ec","order":4,"disp":true,"width":"6","collapse":false},{"id":"60c024ea.46d5ec","type":"ui_tab","z":"","name":"Table Temps","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"5988244e.c931dc","type":"ui_group","z":"","name":"Temp on all Tables","tab":"db249932.e4f478","order":1,"disp":true,"width":"6","collapse":false},{"id":"cfeacbed.75c528","type":"ui_group","z":"","name":"Table 5-8","tab":"db249932.e4f478","order":3,"disp":true,"width":"6","collapse":false},{"id":"3fb41f54.6dc3c","type":"ui_group","z":"","name":"Table 9-12","tab":"db249932.e4f478","order":4,"disp":true,"width":"6","collapse":false},{"id":"8558a4ea.86b838","type":"ui_group","z":"","name":"Table 1","tab":"fcb5b1c4.9a49c","order":1,"disp":true,"width":"6","collapse":false},{"id":"9097ba55.6621b8","type":"ui_group","z":"","name":"Table 2","tab":"fcb5b1c4.9a49c","order":2,"disp":true,"width":"6","collapse":false},{"id":"439368ad.756638","type":"ui_group","z":"","name":"Table 3","tab":"fcb5b1c4.9a49c","order":3,"disp":true,"width":"6","collapse":false},{"id":"879eeca9.ad109","type":"ui_group","z":"","name":"Table 4","tab":"fcb5b1c4.9a49c","order":4,"disp":true,"width":"6","collapse":false},{"id":"c5da5803.e9a1e8","type":"ui_group","z":"","name":"Table 5","tab":"fcb5b1c4.9a49c","order":5,"disp":true,"width":"6","collapse":false},{"id":"db249932.e4f478","type":"ui_tab","z":"","name":"Table Temps","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"fcb5b1c4.9a49c","type":"ui_tab","z":"","name":"All Sensors","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"1c723e78.a998a2","type":"ui_group","z":"","name":"Buttons","tab":"7f2bb740.596618","disp":true,"width":"6","collapse":false},{"id":"7f2bb740.596618","type":"ui_tab","z":"","name":"Input","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"c304fd40.f7867","type":"ui_group","z":"","name":"Scene","tab":"7f2bb740.596618","order":2,"disp":true,"width":"6","collapse":false},{"id":"e8fdd0a9.bc8c1","type":"ui_group","z":"","name":"Table 6","tab":"fcb5b1c4.9a49c","order":6,"disp":true,"width":"6","collapse":false},{"id":"642e48a0.4ab318","type":"ui_group","z":"","name":"Table 7","tab":"fcb5b1c4.9a49c","order":7,"disp":true,"width":"6","collapse":false},{"id":"db6af2af.96eee","type":"ui_group","z":"","name":"Table 8","tab":"fcb5b1c4.9a49c","order":8,"disp":true,"width":"6","collapse":false},{"id":"e5d4ceb5.3a815","type":"ui_group","z":"","name":"Table 9","tab":"fcb5b1c4.9a49c","order":9,"disp":true,"width":"6","collapse":false},{"id":"1143a260.e9be9e","type":"ui_group","z":"","name":"Table 10","tab":"fcb5b1c4.9a49c","order":10,"disp":true,"width":"6","collapse":false},{"id":"3ab9a19d.22b4ce","type":"ui_group","z":"","name":"Table 11","tab":"fcb5b1c4.9a49c","order":11,"disp":true,"width":"6","collapse":false},{"id":"2715d81a.b88678","type":"ui_group","z":"","name":"Table 12","tab":"fcb5b1c4.9a49c","order":12,"disp":true,"width":"6","collapse":false},{"id":"f6ca23d6.d5def","type":"ui_group","z":"","name":"Env","tab":"","disp":true,"width":"6","collapse":false},{"id":"9db70a99.337bf8","type":"ui_group","z":"","name":"Table 4","tab":"","disp":true,"width":"6","collapse":false},{"id":"d24d8572.8ee5b8","type":"ui_group","z":"","name":"Table 4","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"779a1071.49d69","type":"ui_group","z":"","name":"Local Env","tab":"be20697.78fd298","disp":true,"width":"6","collapse":false},{"id":"373a5926.a40346","type":"ui_group","z":"","name":"Tables","tab":"be20697.78fd298","order":2,"disp":true,"width":"6","collapse":false},{"id":"be20697.78fd298","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"ac0f0722.027ee8","type":"ui_tab","z":"","name":"Temp All Tables","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"185c14d.cfa07eb","type":"ui_group","z":"","name":"Local Env","tab":"9b1d8d20.971fb","order":1,"disp":true,"width":"6","collapse":false},{"id":"a81574f.0d0e688","type":"ui_group","z":"","name":"Temp on all Tables","tab":"77961bcc.9d7c74","order":2,"disp":true,"width":"6","collapse":false},{"id":"9b1d8d20.971fb","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"77961bcc.9d7c74","type":"ui_tab","z":"","name":"Table Temps","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"785c592a.3716d8","type":"ui_group","z":"","name":"Temp on all Tables","tab":"aa31f565.691428","order":1,"disp":true,"width":"6","collapse":false},{"id":"a879f94f.befea8","type":"ui_group","z":"","name":"Table 5-8","tab":"aa31f565.691428","order":3,"disp":true,"width":"6","collapse":false},{"id":"6ccd76bf.01c188","type":"ui_group","z":"","name":"Table 9-12","tab":"aa31f565.691428","order":4,"disp":true,"width":"6","collapse":false},{"id":"aa31f565.691428","type":"ui_tab","z":"","name":"Table Temps","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"6f0ed954.7564d8","type":"ui_group","z":"","name":"Temp on all Tables","tab":"d4f68814.4f7f88","order":1,"disp":true,"width":"6","collapse":false},{"id":"3fcba3f6.aa0edc","type":"ui_group","z":"","name":"Table 5-8","tab":"d4f68814.4f7f88","order":3,"disp":true,"width":"6","collapse":false},{"id":"2d7b80fc.5028e","type":"ui_group","z":"","name":"Table 9-12","tab":"d4f68814.4f7f88","order":4,"disp":true,"width":"6","collapse":false},{"id":"33b6f242.d9f93e","type":"ui_group","z":"","name":"Table 1","tab":"1d08d899.987217","order":1,"disp":true,"width":"6","collapse":false},{"id":"a0e8dd7c.aa587","type":"ui_group","z":"","name":"Table 2","tab":"1d08d899.987217","order":2,"disp":true,"width":"6","collapse":false},{"id":"69936bf6.308724","type":"ui_group","z":"","name":"Table 3","tab":"1d08d899.987217","order":3,"disp":true,"width":"6","collapse":false},{"id":"5b401925.1c55f8","type":"ui_group","z":"","name":"Table 4","tab":"1d08d899.987217","order":4,"disp":true,"width":"6","collapse":false},{"id":"85a4c56f.69b8b8","type":"ui_group","z":"","name":"Table 5","tab":"1d08d899.987217","order":5,"disp":true,"width":"6","collapse":false},{"id":"d4f68814.4f7f88","type":"ui_tab","z":"","name":"Table Temps","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"1d08d899.987217","type":"ui_tab","z":"","name":"All Sensors","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"dacf7426.87b128","type":"ui_group","z":"","name":"Buttons","tab":"d67f0623.9b1388","disp":true,"width":"6","collapse":false},{"id":"d67f0623.9b1388","type":"ui_tab","z":"","name":"Input","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"c12c079b.77bbd8","type":"ui_group","z":"","name":"Scene","tab":"d67f0623.9b1388","order":2,"disp":true,"width":"6","collapse":false},{"id":"1371b809.31f298","type":"ui_group","z":"","name":"Table 6","tab":"1d08d899.987217","order":6,"disp":true,"width":"6","collapse":false},{"id":"ca0cce30.d8244","type":"ui_group","z":"","name":"Table 7","tab":"1d08d899.987217","order":7,"disp":true,"width":"6","collapse":false},{"id":"ad3144e8.eb8b68","type":"ui_group","z":"","name":"Table 8","tab":"1d08d899.987217","order":8,"disp":true,"width":"6","collapse":false},{"id":"40e0cc50.7a0974","type":"ui_group","z":"","name":"Table 9","tab":"1d08d899.987217","order":9,"disp":true,"width":"6","collapse":false},{"id":"45411b51.dc88f4","type":"ui_group","z":"","name":"Table 10","tab":"1d08d899.987217","order":10,"disp":true,"width":"6","collapse":false},{"id":"ad781152.0611","type":"ui_group","z":"","name":"Table 11","tab":"1d08d899.987217","order":11,"disp":true,"width":"6","collapse":false},{"id":"c8db1041.fc01d","type":"ui_group","z":"","name":"Table 12","tab":"1d08d899.987217","order":12,"disp":true,"width":"6","collapse":false},{"id":"9f4c87f6.401b78","type":"ui_group","z":"","name":"Env","tab":"","disp":true,"width":"6","collapse":false},{"id":"3e4e60d4.756ab","type":"ui_group","z":"","name":"Table 4","tab":"","disp":true,"width":"6","collapse":false},{"id":"2a297917.2d73f6","type":"ui_group","z":"","name":"Table 4","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"fd2a11d2.9cda4","type":"ui_group","z":"","name":"Local Env","tab":"d3fdb6a3.06ed28","disp":true,"width":"6","collapse":false},{"id":"7fba9351.f365bc","type":"ui_group","z":"","name":"Tables","tab":"d3fdb6a3.06ed28","order":2,"disp":true,"width":"6","collapse":false},{"id":"d3fdb6a3.06ed28","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"7135957.a14206c","type":"ui_tab","z":"","name":"Temp All Tables","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"3c1691d2.b4120e","type":"ui_group","z":"","name":"Local Env","tab":"57a66bde.1f9544","order":1,"disp":true,"width":"6","collapse":false},{"id":"850b3b7c.98d1a8","type":"ui_group","z":"","name":"Temp on all Tables","tab":"940ffb8.d24ba08","order":2,"disp":true,"width":"6","collapse":false},{"id":"57a66bde.1f9544","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"940ffb8.d24ba08","type":"ui_tab","z":"","name":"Table Temps","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"9918b990.62ec68","type":"ui_group","z":"","name":"Temp on all Tables","tab":"aed3ab02.ecd648","order":1,"disp":true,"width":"6","collapse":false},{"id":"3d8fd15c.722efe","type":"ui_group","z":"","name":"Table 5-8","tab":"aed3ab02.ecd648","order":3,"disp":true,"width":"6","collapse":false},{"id":"1211b96d.faf637","type":"ui_group","z":"","name":"Table 9-12","tab":"aed3ab02.ecd648","order":4,"disp":true,"width":"6","collapse":false},{"id":"aed3ab02.ecd648","type":"ui_tab","z":"","name":"Table Temps","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"3ff26707.2063d8","type":"ui_group","z":"","name":"Temp on all Tables","tab":"32df4579.d9249a","order":1,"disp":true,"width":"6","collapse":false},{"id":"3a731157.6ab87e","type":"ui_group","z":"","name":"Table 5-8","tab":"32df4579.d9249a","order":3,"disp":true,"width":"6","collapse":false},{"id":"f4e60fe2.da10e","type":"ui_group","z":"","name":"Table 9-12","tab":"32df4579.d9249a","order":4,"disp":true,"width":"6","collapse":false},{"id":"f43fa675.617fb8","type":"ui_group","z":"","name":"Table 1","tab":"f306f64a.e6e538","order":1,"disp":true,"width":"6","collapse":false},{"id":"29ef8853.425398","type":"ui_group","z":"","name":"Table 2","tab":"f306f64a.e6e538","order":2,"disp":true,"width":"6","collapse":false},{"id":"8743beb5.a0b92","type":"ui_group","z":"","name":"Table 3","tab":"f306f64a.e6e538","order":3,"disp":true,"width":"6","collapse":false},{"id":"6aec2d89.15ac04","type":"ui_group","z":"","name":"Table 4","tab":"f306f64a.e6e538","order":4,"disp":true,"width":"6","collapse":false},{"id":"e4b52e12.50e29","type":"ui_group","z":"","name":"Table 5","tab":"f306f64a.e6e538","order":5,"disp":true,"width":"6","collapse":false},{"id":"32df4579.d9249a","type":"ui_tab","z":"","name":"Table Temps","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"f306f64a.e6e538","type":"ui_tab","z":"","name":"All Sensors","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"dc0e023b.d395b","type":"ui_group","z":"","name":"Buttons","tab":"4d3734c5.3276cc","disp":true,"width":"6","collapse":false},{"id":"4d3734c5.3276cc","type":"ui_tab","z":"","name":"Input","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"8e24023e.acd49","type":"ui_group","z":"","name":"Scene","tab":"4d3734c5.3276cc","order":2,"disp":true,"width":"6","collapse":false},{"id":"e00d2846.5cf0f8","type":"ui_group","z":"","name":"Table 6","tab":"f306f64a.e6e538","order":6,"disp":true,"width":"6","collapse":false},{"id":"7d526e27.79947","type":"ui_group","z":"","name":"Table 7","tab":"f306f64a.e6e538","order":7,"disp":true,"width":"6","collapse":false},{"id":"26737d77.3277c2","type":"ui_group","z":"","name":"Table 8","tab":"f306f64a.e6e538","order":8,"disp":true,"width":"6","collapse":false},{"id":"b73b25d8.7cfaf8","type":"ui_group","z":"","name":"Table 9","tab":"f306f64a.e6e538","order":9,"disp":true,"width":"6","collapse":false},{"id":"71b353c2.84d46c","type":"ui_group","z":"","name":"Table 10","tab":"f306f64a.e6e538","order":10,"disp":true,"width":"6","collapse":false},{"id":"153f37a8.590688","type":"ui_group","z":"","name":"Table 11","tab":"f306f64a.e6e538","order":11,"disp":true,"width":"6","collapse":false},{"id":"33cc18af.4cd0f8","type":"ui_group","z":"","name":"Table 12","tab":"f306f64a.e6e538","order":12,"disp":true,"width":"6","collapse":false},{"id":"34fdcc24.e8e2e4","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"ca15979a.7e6b68","type":"ui_group","z":"","name":"Env","tab":"","disp":true,"width":"6","collapse":false},{"id":"8dad18e6.fccb18","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"ba7493fb.de0a6","type":"ui_group","z":"","name":"Table 4","tab":"","disp":true,"width":"6","collapse":false},{"id":"3c3df618.8c8f9a","type":"ui_group","z":"","name":"Table 4","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"a5327047.517a9","type":"ui_group","z":"","name":"Local Env","tab":"44e17381.0daa1c","disp":true,"width":"6","collapse":false},{"id":"3481cb5b.e78174","type":"ui_group","z":"","name":"Tables","tab":"44e17381.0daa1c","order":2,"disp":true,"width":"6","collapse":false},{"id":"44e17381.0daa1c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"2c0488ee.4a1d58","type":"ui_tab","z":"","name":"Temp All Tables","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"69670e03.9c1b1","type":"ui_group","z":"","name":"Local Env","tab":"f1a062a4.0252e","order":1,"disp":true,"width":"6","collapse":false},{"id":"c93ec518.f183e8","type":"ui_group","z":"","name":"Temp on all Tables","tab":"84c05d79.390d","order":2,"disp":true,"width":"6","collapse":false},{"id":"f1a062a4.0252e","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"84c05d79.390d","type":"ui_tab","z":"","name":"Table Temps","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"c343c36c.84488","type":"ui_group","z":"","name":"Temp on all Tables","tab":"827f18ca.5947f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"76489c64.1ffa64","type":"ui_group","z":"","name":"Table 5-8","tab":"827f18ca.5947f8","order":3,"disp":true,"width":"6","collapse":false},{"id":"90da144c.114998","type":"ui_group","z":"","name":"Table 9-12","tab":"827f18ca.5947f8","order":4,"disp":true,"width":"6","collapse":false},{"id":"827f18ca.5947f8","type":"ui_tab","z":"","name":"Table Temps","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"42f268a1.6be838","type":"ui_group","z":"","name":"Temp on all Tables","tab":"207af585.56387a","order":1,"disp":true,"width":"6","collapse":false},{"id":"d3235c27.8974d","type":"ui_group","z":"","name":"Table 5-8","tab":"207af585.56387a","order":3,"disp":true,"width":"6","collapse":false},{"id":"aa9a6076.eb9df","type":"ui_group","z":"","name":"Table 9-12","tab":"207af585.56387a","order":4,"disp":true,"width":"6","collapse":false},{"id":"ca2cf567.61be88","type":"ui_group","z":"","name":"Table 1","tab":"19120fb3.434a1","order":1,"disp":true,"width":"6","collapse":false},{"id":"7096cc20.d03be4","type":"ui_group","z":"","name":"Table 2","tab":"19120fb3.434a1","order":2,"disp":true,"width":"6","collapse":false},{"id":"f860a085.bd286","type":"ui_group","z":"","name":"Table 3","tab":"19120fb3.434a1","order":3,"disp":true,"width":"6","collapse":false},{"id":"2076916.e07c76e","type":"ui_group","z":"","name":"Table 4","tab":"19120fb3.434a1","order":4,"disp":true,"width":"6","collapse":false},{"id":"e046b434.61ba68","type":"ui_group","z":"","name":"Table 5","tab":"19120fb3.434a1","order":5,"disp":true,"width":"6","collapse":false},{"id":"207af585.56387a","type":"ui_tab","z":"","name":"Table Temps","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"19120fb3.434a1","type":"ui_tab","z":"","name":"All Sensors","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"d75df1dc.92d0c","type":"ui_group","z":"","name":"Buttons","tab":"4e210101.8f0ff","disp":true,"width":"6","collapse":false},{"id":"4e210101.8f0ff","type":"ui_tab","z":"","name":"Input","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"faecf2e.9537e1","type":"ui_group","z":"","name":"Scene","tab":"4e210101.8f0ff","order":2,"disp":true,"width":"6","collapse":false},{"id":"7b5fa676.253188","type":"ui_group","z":"","name":"Table 6","tab":"19120fb3.434a1","order":6,"disp":true,"width":"6","collapse":false},{"id":"a3d653ae.aa2ad","type":"ui_group","z":"","name":"Table 7","tab":"19120fb3.434a1","order":7,"disp":true,"width":"6","collapse":false},{"id":"c505b63b.535958","type":"ui_group","z":"","name":"Table 8","tab":"19120fb3.434a1","order":8,"disp":true,"width":"6","collapse":false},{"id":"526b3c6a.1f6a04","type":"ui_group","z":"","name":"Table 9","tab":"19120fb3.434a1","order":9,"disp":true,"width":"6","collapse":false},{"id":"f669f31.0156e1","type":"ui_group","z":"","name":"Table 10","tab":"19120fb3.434a1","order":10,"disp":true,"width":"6","collapse":false},{"id":"fd70dd40.fd305","type":"ui_group","z":"","name":"Table 11","tab":"19120fb3.434a1","order":11,"disp":true,"width":"6","collapse":false},{"id":"3fbebf9c.114af","type":"ui_group","z":"","name":"Table 12","tab":"19120fb3.434a1","order":12,"disp":true,"width":"6","collapse":false},{"id":"abdd2cd2.7a819","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"bef2e7e9.246768","type":"rpi-sensehat in","z":"1d0d91f.5b9c46e","name":"","motion":false,"env":true,"stick":false,"x":230,"y":251,"wires":[["12b746c5.9f7149"]]},{"id":"ce1c8d24.6cf92","type":"debug","z":"1d0d91f.5b9c46e","name":"SenseHat Temp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1034,"y":212,"wires":[]},{"id":"12b746c5.9f7149","type":"delay","z":"1d0d91f.5b9c46e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":523,"y":252,"wires":[["1d857f83.402ee"]]},{"id":"1d857f83.402ee","type":"change","z":"1d0d91f.5b9c46e","name":"Set Msg to Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":779,"y":244,"wires":[["ce1c8d24.6cf92","4303e24f.f9672c"]]},{"id":"b6dd2974.275228","type":"rpi-sensehat in","z":"1d0d91f.5b9c46e","name":"","motion":false,"env":true,"stick":false,"x":237.27272033691406,"y":508.1817932128906,"wires":[["e4feea39.229268"]]},{"id":"4ea077cc.a248f8","type":"debug","z":"1d0d91f.5b9c46e","name":"SenseHat Humidity","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1051.272720336914,"y":469.1817932128906,"wires":[]},{"id":"e4feea39.229268","type":"delay","z":"1d0d91f.5b9c46e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":530.2727203369141,"y":509.1817932128906,"wires":[["e5e4109f.8fcce"]]},{"id":"e5e4109f.8fcce","type":"change","z":"1d0d91f.5b9c46e","name":"Set Msg to Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":796.2727203369141,"y":501.1817932128906,"wires":[["4ea077cc.a248f8","fd08145d.1e3c28"]]},{"id":"24f7ac4c.b5b504","type":"rpi-sensehat in","z":"1d0d91f.5b9c46e","name":"","motion":false,"env":true,"stick":false,"x":220.90908813476562,"y":710.9090576171875,"wires":[["6c775bf3.f727c4"]]},{"id":"b13172e0.942bf","type":"debug","z":"1d0d91f.5b9c46e","name":"SenseHat Pressure","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1034.9090881347656,"y":671.9090576171875,"wires":[]},{"id":"6c775bf3.f727c4","type":"delay","z":"1d0d91f.5b9c46e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":513.9090881347656,"y":711.9090576171875,"wires":[["4505e731.423b48"]]},{"id":"4505e731.423b48","type":"change","z":"1d0d91f.5b9c46e","name":"Set Msg to Pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":779.9090881347656,"y":703.9090576171875,"wires":[["b13172e0.942bf","adccb627.e07158"]]},{"id":"9782a17e.488f8","type":"comment","z":"1d0d91f.5b9c46e","name":"Limit the amount of data sent to the display","info":"The Raspberry Pi constantly reads the sensors.\n\nThis is a good thing if you want to gragh something but can quickly become overweleming.\n\nThis limits it to only running evey minute.","x":550,"y":320,"wires":[]},{"id":"f41bd84d.45d2e8","type":"comment","z":"1d0d91f.5b9c46e","name":"Set the Msg to the Temp","info":"This function grabs the temp from the object that is sent by the Raspberry Pi.","x":807,"y":187,"wires":[]},{"id":"90863de6.ae64","type":"comment","z":"1d0d91f.5b9c46e","name":"Select Environment events","info":"Select Environment events","x":279,"y":201,"wires":[]},{"id":"4303e24f.f9672c","type":"mqtt out","z":"1d0d91f.5b9c46e","name":"","topic":"sensor/1/temp","qos":"","retain":"","broker":"8dad18e6.fccb18","x":1440,"y":240,"wires":[]},{"id":"fd08145d.1e3c28","type":"mqtt out","z":"1d0d91f.5b9c46e","name":"","topic":"sensor/1/humidity","qos":"","retain":"","broker":"8dad18e6.fccb18","x":1450,"y":500,"wires":[]},{"id":"adccb627.e07158","type":"mqtt out","z":"1d0d91f.5b9c46e","name":"","topic":"sensor/1/pressure","qos":"","retain":"","broker":"8dad18e6.fccb18","x":1450,"y":700,"wires":[]},{"id":"cb9aed36.f1331","type":"comment","z":"1d0d91f.5b9c46e","name":"Push Temp vaules to sensor API","info":"","x":1470,"y":180,"wires":[]},{"id":"a8544f9c.5bfad","type":"comment","z":"1d0d91f.5b9c46e","name":"Needs to be updated for every Table","info":"","x":1520,"y":360,"wires":[]},{"id":"9d8503fc.f99c3","type":"ui_gauge","z":"5168a377.14493c","name":"","group":"69670e03.9c1b1","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp in F","label":"Degrees","format":"{{value | number:1}}","min":0,"max":"212","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1040,"y":460,"wires":[]},{"id":"31502a09.d1a916","type":"rpi-sensehat in","z":"5168a377.14493c","name":"","motion":false,"env":true,"stick":false,"x":339.1818084716797,"y":459.63635054501617,"wires":[["f502e7f2.6c7958"]]},{"id":"b4ad7231.3b6dd","type":"debug","z":"5168a377.14493c","name":"Temp in F","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1038.0908966064453,"y":548.9090861407193,"wires":[]},{"id":"1babff3d.921fa1","type":"ui_gauge","z":"5168a377.14493c","name":"","group":"69670e03.9c1b1","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":902.0908813476564,"y":633.9999694824219,"wires":[]},{"id":"19d7ef6e.8893d1","type":"rpi-sensehat in","z":"5168a377.14493c","name":"","motion":false,"env":true,"stick":false,"x":370.2726860046388,"y":637.6363220214844,"wires":[["770226eb.856cd8"]]},{"id":"770226eb.856cd8","type":"change","z":"5168a377.14493c","name":"Set Msg to Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":643.2727050781251,"y":639.9090576171875,"wires":[["1babff3d.921fa1","478f0453.6e663c"]]},{"id":"478f0453.6e663c","type":"debug","z":"5168a377.14493c","name":"Humidity","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":881.1817779541016,"y":744.9090556231412,"wires":[]},{"id":"74752c8a.7bb794","type":"ui_gauge","z":"5168a377.14493c","name":"","group":"69670e03.9c1b1","order":4,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"units","format":"{{value | number:1}}","min":0,"max":"6000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":931.9090919494629,"y":860.9999980059537,"wires":[]},{"id":"e1cb8b7.01f9b78","type":"rpi-sensehat in","z":"5168a377.14493c","name":"","motion":false,"env":true,"stick":false,"x":400.0908966064453,"y":864.6363505450162,"wires":[["aa753636.2f66c8"]]},{"id":"aa753636.2f66c8","type":"change","z":"5168a377.14493c","name":"Set Msg to Pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":673.0909156799316,"y":866.9090861407193,"wires":[["74752c8a.7bb794","a0b0f80a.119828"]]},{"id":"a0b0f80a.119828","type":"debug","z":"5168a377.14493c","name":"Pressure","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910.9999885559081,"y":971.909084146673,"wires":[]},{"id":"ac43c34d.5fccb","type":"comment","z":"5168a377.14493c","name":"To view Gauges go to ip:1880/ui","info":"This is a nother note\n[https://10.0.0.150]()","x":1330,"y":40,"wires":[]},{"id":"22ecec5d.1cb5a4","type":"ui_gauge","z":"5168a377.14493c","name":"","group":"69670e03.9c1b1","order":2,"width":0,"height":0,"gtype":"gage","title":"Temp in C","label":"Degrees","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":855.0908966064453,"y":169.99999800595367,"wires":[]},{"id":"1337ff3c.1df6e1","type":"rpi-sensehat in","z":"5168a377.14493c","name":"","motion":false,"env":true,"stick":false,"x":323.27270126342773,"y":173.63635054501617,"wires":[["d21cd1c7.bd97c"]]},{"id":"d21cd1c7.bd97c","type":"change","z":"5168a377.14493c","name":"Set Msg to Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590.2726898193359,"y":172.9090861407193,"wires":[["22ecec5d.1cb5a4","de2e8e3e.2d523"]]},{"id":"de2e8e3e.2d523","type":"debug","z":"5168a377.14493c","name":"Temp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":260,"wires":[]},{"id":"f502e7f2.6c7958","type":"change","z":"5168a377.14493c","name":"Set Msg to Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":611.1817779541016,"y":458.9090861407193,"wires":[["a665071a.ec91e8"]]},{"id":"a665071a.ec91e8","type":"function","z":"5168a377.14493c","name":"Change to F","func":"msg.payload  = (msg.payload*1.8) + 32;\nreturn msg;","outputs":1,"noerr":0,"x":861.0908966064453,"y":459.99999800595367,"wires":[["9d8503fc.f99c3","b4ad7231.3b6dd"]]},{"id":"6625f06b.1e4c4","type":"comment","z":"5168a377.14493c","name":"Publish Temp in C to Web Dashboard ","info":"","x":1079.0908966064453,"y":170.99999800595367,"wires":[]},{"id":"6a4f3954.b50cf8","type":"comment","z":"1d0d91f.5b9c46e","name":"This reads the current sensor value and posts it to sensor/table#/temp...","info":"","x":590,"y":80,"wires":[]},{"id":"1e5ec6d8.079b89","type":"rpi-sensehat in","z":"78a66ecf.e99dc","name":"","motion":false,"env":true,"stick":false,"x":220,"y":320,"wires":[["b3c5973b.7ca528"]]},{"id":"b3c5973b.7ca528","type":"delay","z":"78a66ecf.e99dc","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":320,"wires":[["ac11a8af.345ef8"]]},{"id":"719b5bb2.462fd4","type":"file","z":"78a66ecf.e99dc","name":"","filename":"/var/lib/node_exporter/textfile/sensors.prom","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":1150,"y":440,"wires":[[]]},{"id":"ecccb85d.375f08","type":"comment","z":"78a66ecf.e99dc","name":"This Flow take the current sensor settings and writes them to file that Promtheus picks up","info":"","x":730,"y":60,"wires":[]},{"id":"17ad5516.de437b","type":"debug","z":"78a66ecf.e99dc","name":"Write Sensor data to nodeexporter text file","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1150,"y":320,"wires":[]},{"id":"ac11a8af.345ef8","type":"function","z":"78a66ecf.e99dc","name":"Set sensor Vaule","func":"temp_f = (msg.payload.temperature*1.8) + 32\nmsg.payload = 'Temp_c ' + msg.payload.temperature + '\\nTemp_f ' + temp_f   + '\\nHumidity ' + msg.payload.humidity +'\\nPressure ' + msg.payload.pressure;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":320,"wires":[["17ad5516.de437b","719b5bb2.462fd4"]]},{"id":"c30346f1.bcca28","type":"comment","z":"78a66ecf.e99dc","name":"Limit the amount to time to read and write data","info":"","x":460,"y":380,"wires":[]},{"id":"43795659.93a618","type":"comment","z":"78a66ecf.e99dc","name":"Setup msg to be formatted properly for nodeexporter","info":"","x":820,"y":240,"wires":[]},{"id":"acedb259.82d8","type":"comment","z":"78a66ecf.e99dc","name":"write the vaules to a file for nodeexporter to pick up","info":"","x":1170,"y":400,"wires":[]},{"id":"81c7e5a8.c3db88","type":"comment","z":"1d0d91f.5b9c46e","name":"Limit the amount of data sent to the display","info":"The Raspberry Pi constantly reads the sensors.\n\nThis is a good thing if you want to gragh something but can quickly become overweleming.\n\nThis limits it to only running evey minute.","x":550,"y":580,"wires":[]},{"id":"fe4005f.40bb8f8","type":"comment","z":"1d0d91f.5b9c46e","name":"Limit the amount of data sent to the display","info":"The Raspberry Pi constantly reads the sensors.\n\nThis is a good thing if you want to gragh something but can quickly become overweleming.\n\nThis limits it to only running evey minute.","x":550,"y":800,"wires":[]},{"id":"452f4596.d49f9c","type":"comment","z":"1d0d91f.5b9c46e","name":"Push Humidity vaules to sensor API","info":"","x":1500,"y":440,"wires":[]},{"id":"86ad8f99.4730b","type":"comment","z":"1d0d91f.5b9c46e","name":"Push Pressue vaules to sensor API","info":"","x":1500,"y":640,"wires":[]},{"id":"236669c2.a61de6","type":"comment","z":"5168a377.14493c","name":"","info":"","x":1046.0908966064453,"y":214.99999800595367,"wires":[]},{"id":"66e9b986.dd30a8","type":"comment","z":"5168a377.14493c","name":"Publish Temp in F to Web Dashboard ","info":"","x":1270,"y":460,"wires":[]},{"id":"260b2cc7.e3b184","type":"comment","z":"5168a377.14493c","name":"Do Math to convert temp to F","info":"","x":840,"y":400,"wires":[]},{"id":"94a48da8.f7cc9","type":"comment","z":"5168a377.14493c","name":"Select just temp property","info":"","x":590,"y":120,"wires":[]},{"id":"ab7c0833.fc6448","type":"comment","z":"5168a377.14493c","name":"Select just temp property","info":"","x":590,"y":400,"wires":[]},{"id":"7afec48a.d1bedc","type":"comment","z":"5168a377.14493c","name":"Select just humidity property","info":"","x":640,"y":580,"wires":[]},{"id":"167fcb90.e46004","type":"comment","z":"5168a377.14493c","name":"Select just pressure property","info":"","x":680,"y":820,"wires":[]},{"id":"f63b7f7.915968","type":"comment","z":"5168a377.14493c","name":"Publish Humidity to Web Dashboard ","info":"","x":1120,"y":640,"wires":[]},{"id":"a544c82c.95dff8","type":"comment","z":"5168a377.14493c","name":"Publish Publish to Web Dashboard ","info":"","x":1160,"y":860,"wires":[]}]